@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

$primary: #22b14c; //green
$secondary: #d3d3d3; //lightgrey
$third: #FFFFFF; //white
$hover: #b5e61d; //lemongreen
$text: #222222; //darkgrey

*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: $third;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: $primary;

  a {
    width: 100%;
    background-color: $primary;
    padding: 1.5rem;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: white;

    &:hover {
      background-color: $hover;
      color: $primary;
    }

    &:active {
      color: $text;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 90%;
  margin: 1rem;
  padding: 2rem;
  background-color: $secondary;
  border-radius: 20px;
}

.principale, .secondario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.secondario {
  height: 45%;
  margin-top: 2rem;
}

.tempo_risparmiato,
.form_data,
.form_tipologia,
.table_prestazioni_offerte,
.table_prestazioni_erogate,
.table_prestazioni_unite,
.form_prestazione_offerta,
.form_prestazione_erogata,
.table_ricerca {
  box-shadow: 2.5px 5px 25px #0004, 0 1px 6px #0006;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: $third;
  border-radius: 20px;
  height: 100%;
  width: 33%;

  h1 {
    text-align: center;
    color: $primary;
    margin-top: 0;
  }

  p {
    font-size: 1.5rem;
  }

  &:first-child {
    margin-left: 0;
    margin-right: 1rem;
  }

  &:last-child {
    margin-left: 1rem;
    margin-right: 0;
  }
}

.table_prestazioni_offerte,
.table_prestazioni_erogate,
.table_prestazioni_unite {
  padding-bottom: 2rem;

  &:last-child {
    width: 80%;
  }

  .table {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%
  }
}

.table_prestazioni_offerte {
  .zero_colonna {
    width: 10%;
  }

  .prima_colonna {
    width: 40%;
  }

  .seconda_colonna {
    width: 50%;
  }
}

.table_prestazioni_erogate {
  .zero_colonna {
    width: 10%;
  }

  .prima_colonna {
    width: 35%;
  }

  .seconda_colonna {
    width: 35%;
  }

  .terza_colonna {
    width: 20%;
  }
}

.table_prestazioni_unite {
  .prima_colonna {
    width: 15%;
  }

  .seconda_colonna {
    width: 20%;
  }

  .terza_colonna {
    width: 13%;
  }

  .quarta_colonna {
    width: 26%;
  }

  .quinta_colonna {
    width: 26%;
  }
}

.table_ricerca {
  width: 100%;

  .prima_colonna {
    width: 15%;
  }

  .seconda_colonna {
    width: 20%;
  }

  .terza_colonna {
    width: 13%;
  }

  .quarta_colonna {
    width: 26%;
  }

  .quinta_colonna {
    width: 26%;
  }

  &:first-child {
    margin-left: 0;
  }

  .table {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
  }

  p {
    margin-bottom: 0;
  }
}

.form_prestazione_offerta,
.form_prestazione_erogata {
  width: 50%;

  p {
    font-size: 1.2rem;
  }

  input, select {
    font-size: 1.2rem;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 3px;
    width: 100%;
    background-color: $primary;
  }
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 80%;

  button {
    box-shadow: 2.5px 5px 25px #0004, 0 1px 6px #0006;
    background-color: $third;
    border: 1px solid $primary;
    border-radius: 10px;
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;

    &:hover {
      box-shadow: inset 0 2px 25px #0006;
      background-color: $hover;
      cursor: pointer;
    }

    &:active {
      box-shadow: inset 0 2px 50px #0008;
    }
  }

  input, select {
    width: 50%;
    font-size: 1.2rem;
  }
}

.input_data_iniziale,
.input_data_finale,
.input_tipologia,
.input_nome,
.input_tempo,
.input_data,
.input_quantita,
.input_id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;

  p {
    padding-right: 1rem;
  }
}

.input_id {
  select {
    margin: 1.2rem;
  }
}

table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  border: 1px solid;
  padding: 0.2rem;
}

.no_border {
  border: none;

  th {
    border: none;
  }
}
